# For Loop:

syntax:

for temp_var in iterable:
    body to the for loop

In [2]:
list_1 = [10,20,30,40]

for i in list_1:
    print(i)

10
20
30
40

In [5]:
set_1={10,20,30,40,50,10}
for i in set_1:
    print(i)

50
20
40
10
30

In [6]:
dict_1={"name":"Dhaval","age":24,"role":"LLMops"}
for i in dict_1:
    print(i)

name
age
role

In [7]:
for j in dict_1.values():
    print(j)

Dhaval
24
LLMops

In [8]:
for k in dict_1.items():
    print(k)

('name', 'Dhaval')
('age', 24)
('role', 'LLMops')

#built in function

1. range()
2. enumerate()
3. zip()

In [9]:
#to find put even number from first natural number

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [14]:
list_1=[10,20,30,40]
for i in enumerate(list_1):
    print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)

In [15]:
list_2=[11,22,33,44]
for i,j in zip(list_1,list_2):
    print(i+j)

21
42
63
84

# While loop:

syntax:

while condition:
    body of while loop
    write one statement to make condition of while loop false

In [16]:
x=1

while x<= 10:
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10

In [17]:
#print all the numbers entered until user enter the number 0
num=int(input("Enter the number:"))

while num!=0:
    print(num)
    num=int(input("Enter the next number:"))
    
print("End")

Enter the number:21
21
Enter the next number:22
22
Enter the next number:55
55
Enter the next number:88
88
Enter the next number:0
End

## Control Statement:

In [19]:
# pass, break and continue
# pass is the null statement that helps us to avoid error along with that it reserve spaces
# for the future references.

In [20]:
for i in range(1,11):
    pass

In [22]:
#break:
#break is use for terminate the loop
for i in range(1,11):
    if i==5:
        break
    print(i)

1
2
3
4

In [25]:
#continue:
#helps us to skip the iteration

for i in range(1,11):
    if i==5 or i==7:
        continue
    print(i)

1
2
3
4
6
8
9
10