In [22]:
import pandas as pd

In [7]:
print(pd.__version__)

1.5.3

In [8]:
A = pd.Series([32,3,4,5],index=['a','b','c','d'])
type(A.values)

numpy.ndarray

In [4]:
type(A)

pandas.core.series.Series

In [5]:
A.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
A['a']

32

In [10]:
A['a':'b']

a    32
b     3
dtype: int64

In [11]:
grads_dict={'A':4,'B':5,'C':-5.5}

In [13]:
grad = pd.Series(grads_dict)
print(grad)

A    4.0
B    5.0
C   -5.5
dtype: float64

array([ 4. ,  5. , -5.5])

In [14]:
grad.values

array([ 4. ,  5. , -5.5])

In [15]:
marks_dict={'A':1,'B':-5,'C':-2.0}
mark = pd.Series(marks_dict)
print(mark)

A    1.0
B   -5.0
C   -2.0
dtype: float64

In [16]:
D = pd.DataFrame({'Marks':mark,'Grades':grad})
D

   Marks  Grades
A    1.0     4.0
B   -5.0     5.0
C   -2.0    -5.5

In [17]:
D.T

          A    B    C
Marks   1.0 -5.0 -2.0
Grades  4.0  5.0 -5.5

In [18]:
D

   Marks  Grades
A    1.0     4.0
B   -5.0     5.0
C   -2.0    -5.5

In [20]:
D.values[2,0]

-2.0

In [21]:
D.columns

Index(['Marks', 'Grades'], dtype='object')

In [22]:
D['ScaledMarks']=100*(D['Marks']/90)

In [23]:
D

   Marks  Grades  ScaledMarks
A    1.0     4.0     0.011111
B   -5.0     5.0    -0.055556
C   -2.0    -5.5    -0.022222

In [25]:
del D['ScaledMarks']

In [26]:
D

   Marks  Grades
A    1.0     4.0
B   -5.0     5.0
C   -2.0    -5.5

In [28]:
G = D[D['Marks']>0]
G

   Marks  Grades
A    1.0     4.0

In [30]:
A=pd.DataFrame([{'a':1,'b':2},{'a':-1,'c':-2}])
A

   a    b    c
0  1  2.0  NaN
1 -1  NaN -2.0

In [32]:
A.fillna(0)

   a    b    c
0  1  2.0  0.0
1 -1  0.0 -2.0

In [19]:
A.dropna?

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [4]:
A = pd.Series(['a','b','c'], index[1,3,5])
A[1]

NameError: name 'pd' is not defined

In [3]:
A[1:3]

NameError: name 'A' is not defined

In [16]:
A.loc[1:3]

TypeError: cannot do slice indexing on Index with these indexers [1] of type int

In [41]:
A.iloc[1:3]

   a   b    c
1 -1 NaN -2.0

In [42]:
D

   Marks  Grades
A    1.0     4.0
B   -5.0     5.0
C   -2.0    -5.5

In [43]:
D.iloc[2,:]

Marks    -2.0
Grades   -5.5
Name: C, dtype: float64

In [44]:
D.iloc[::-1,:]

   Marks  Grades
C   -2.0    -5.5
B   -5.0     5.0
A    1.0     4.0

In [21]:
import numpy as np
from sklearn.impute import SimpleImputer

In [24]:
df = pd.read_csv('C:\covid_19_data.csv')

In [26]:
df.head(10)

        Date State               Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN          Afghanistan       1939      60        252
1  4/29/2020   NaN              Albania        766      30        455
2  4/29/2020   NaN              Algeria       3848     444       1702
3  4/29/2020   NaN              Andorra        743      42        423
4  4/29/2020   NaN               Angola         27       2          7
5  4/29/2020   NaN  Antigua and Barbuda         24       3         11
6  4/29/2020   NaN            Argentina       4285     214       1192
7  4/29/2020   NaN              Armenia       1932      30        900
8  4/29/2020   NaN              Austria      15402     580      12779
9  4/29/2020   NaN           Azerbaijan       1766      23       1267

In [28]:
df.drop(['State'],axis=1,inplace=True)

In [29]:
df.head(10)

        Date               Region  Confirmed  Deaths  Recovered
0  4/29/2020          Afghanistan       1939      60        252
1  4/29/2020              Albania        766      30        455
2  4/29/2020              Algeria       3848     444       1702
3  4/29/2020              Andorra        743      42        423
4  4/29/2020               Angola         27       2          7
5  4/29/2020  Antigua and Barbuda         24       3         11
6  4/29/2020            Argentina       4285     214       1192
7  4/29/2020              Armenia       1932      30        900
8  4/29/2020              Austria      15402     580      12779
9  4/29/2020           Azerbaijan       1766      23       1267

In [32]:
df.rename(columns={'Region':'Country'},inplace=True)

In [33]:
df.head()

        Date      Country  Confirmed  Deaths  Recovered
0  4/29/2020  Afghanistan       1939      60        252
1  4/29/2020      Albania        766      30        455
2  4/29/2020      Algeria       3848     444       1702
3  4/29/2020      Andorra        743      42        423
4  4/29/2020       Angola         27       2          7

In [35]:
df['Date'] = pd.to_datetime(df['Date'])

In [36]:
df.head()

        Date      Country  Confirmed  Deaths  Recovered
0 2020-04-29  Afghanistan       1939      60        252
1 2020-04-29      Albania        766      30        455
2 2020-04-29      Algeria       3848     444       1702
3 2020-04-29      Andorra        743      42        423
4 2020-04-29       Angola         27       2          7

In [39]:
df.describe()

           Confirmed        Deaths      Recovered
count     321.000000    321.000000     321.000000
mean     9949.800623    709.152648    3030.277259
std     31923.853086   3236.162817   14364.870365
min         0.000000      0.000000       0.000000
25%       104.000000      2.000000       2.000000
50%       653.000000     12.000000      73.000000
75%      4655.000000    144.000000     587.000000
max    299691.000000  27682.000000  132929.000000

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       321 non-null    datetime64[ns]
 1   Country    321 non-null    object
 2   Confirmed  321 non-null    int64
 3   Deaths     321 non-null    int64
 4   Recovered  321 non-null    int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 12.7+ KB

In [ ]:
# High Level Understanding Of Data:

In [1]:
df.head()

NameError: name 'df' is not defined